


{% extends 'index.html' %}
{% load static %}
{% block title %}product details {% endblock %}






{% block content%}
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">



<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h4>Some Words <span>About Us</span></h4>
        <p> KunleLap enterprise was founded in year 2018 as a retailer in selling pcs, laptops and  their accessories in Ile-Ife, Osun State Nigeria.  </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'assets/img/about.jpg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Who We Are</h3>
          <p class="fst-italic">
            KunleLap enterprise is one of the leading wholesale and retail company that offer affordable and durable brand-new laptop, UK used laptops, pcs, computer accessories and other electronic gadgets.
             We have successfully built our reputation on diligence, dedication, reliability and customer-centered service. <br><br>Satisfying customers isn’t the most important goals but the only goal we set out to achieve.
              We are customer-oriented so we are committed in finding innovative ideas to improve the shopping experience of our customers with us.  Choose KunleLap enterprise when you need an affordable, durable,
               and quality laptops. We go out of our comfort zone to ensure you get the best customer experience. We highly valued our customers and the reputation we worked hard to build. <br><br>If there’s something we need 
               to improve on kindly feed us back so that we can continue to serve you better. We have maintained good rapport with our customers which informed our next line of actions to better served them. We will not 
               relent until you are satisfy with our products and service.

          </p>
          
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Sales</h5>
                <p>For sales, we are committed to various needs of our customers, and we are ready to offer, suggest and recommend the ideal product that is suitable for their peculiarity. 
                   In addition, we will treat each of their concerns with utmost necessary attention.</p>
              </div>
            </li>
            <li>
              <i class="bx bxs-quote-alt-left"></i>
              <div>
                <h5>Unparalled service</h5>
                <p>In our service, we make available other resources that ensure our clients are well being taking care off with sales experience that is holistic, ranging from the system upgrade to home delivery to customers.  </p>
              </div>
            </li>
          </ul>
       
          <p>
            We also render after-sales support to our esteem customers, having understand the challenges and intricacies that may arise as result of the defect from the manufacturer
             or the difficulty in using the products obtained from us, so long they are under warranty of kunlelap enterprise.
             Our commitment in satisfying our customers is unmatched and swift, while our team work tirelessly to ensure that their satisfaction is sustained.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->










{% endblock %}
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter.js'%}"></script>
<script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>