
{% extends 'index.html' %}
{% load static %}
{% block title %}Service {% endblock %}






{% block content%}
<link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
  





<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span>Services</span></h3>
        <p>
          So that we may be able to achieve the pleasures and pleasures of life.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-store-alt"></i></div>
            <h4><a href="">Laptops Services</a></h4>
            <p class="pt-4 pt-lg-0 content d-flex flex-column justify-content-center col-md-11 " style="text-align: justify;">
              KunleLap enterprise is located at zone d block 4, oau central market, ile-ife, osun state. Apart from Sunday, the Shop open every day of the week between 08:30am to 8pm. 
              We sell both new and UK used laptops of different reliable brands. You can swap your old laptop for new one with small money. 
               <br><br>We are available for home and business support in repairing your laptop, pcs and maintain them. 
               You may need to book appoint with our engineer to visit your home or office, kindly contact us with the request
               @kkunlelap@gmail.com.
            </p>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            
                  <h4><a href="">Laptop Support and Maintenance</a></h4>
                  <h6>These are the laptop services you  can get from us:</h6><br>
                  <p style="text-align:center; align-content: flex-start;">
         
    * Data backup and recovery.<br><br>
    * Data disaster recovery and support.<br><br>

    * PC hardware upgrades and repairs.<br><br>

    

    * Windows OS upgrade and troubleshooting.<br><br>

    * Virus and spyware removal and/ or clean-up. <br><br>

    * Sales of new & UK used laptops at affordable price.<br><br>
                </p>
                 
                  
                 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">In-Store Service:</a></h4>
        <p style="text-align:center; align-content: flex-start;">
        * Smart PC Repairs and Maintenance.<br><br>

        * Virus Scan Removal Services. <br><br>

        * Data Back-up and Recovery Services.<br><br>

        * Laptop Upgrades and Repairs.<br><br>

        * One-On-One Computer Training<br><br>

        </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Home Service</a></h4>
            <p style="text-align: justify;"> In your comfort zone, we offer quick response system support within Osun and its environs. We visit you immediately we receive request from you, and when that is not possible, our technical support team will visit you within 48 hours. 
              When you contact us, we will fix time that is most convenient for you. For example, if we tell you we are coming to you by 9:0am, be rest assure that we will arrive on or before 9:00am.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Why you need our system support:</a></h4>
            <p style="text-align:center; align-content: flex-start;">
            *General computer support.
            *Data backup. <br><br>
           
            *System slowing down.
            *System crashes. <br><br>
            
            *Hard drive recovery. 
            *Emergency recovery. <br><br>
            *Data recovery.
            *System restoration<br><br>
            *Security awareness.

            
            

            
            
            
            
            *Hardware installation .<br><br>
            
            *Software installation issues. 
            *Software upgrades.
            
            </pre>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Replacement of parts</a></h4>
            <p style="text-align: justify;">
              
              We offer authentic laptop part replacement and accessories, as well as compatible third party, refurbished and parts exchange. We also offer quick laptop screen repair at affordable price. 
              It doesn’t matter if your laptop is affected by visible lines down the screen, dim screen, or a damaged/ cracked screen, we can assist.
              </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  {% endblock %}
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>
